## Task: Predict number of bikers on a given day using linear regression

You are provided with a dataset about Seattle's Fremont Bridge in the form of a csv file.
The data contains different details about a given day, like weather, temperature and other factors (see the dataframe preview below) for more details. The data also contains how many bikers were observed crossing the brudge that day.

You are provided with the code to download and load the csv file.

Your task is to train a linear regression model which takes in the "parameters of the day" (you can drop the columns that you think you don't need) and predicts the number of bikers according to those parameters.

In [2]:
from IPython.display import clear_output

In [3]:
# Don't modify this code


%pip install gdown==4.5


clear_output()

In [4]:
# Download the CSV file.
!gdown 1_eJU8Y-31_l0oq1sSJT6pROJyo-ufuvD

Downloading...
From: https://drive.google.com/uc?id=1_eJU8Y-31_l0oq1sSJT6pROJyo-ufuvD
To: c:\Users\Naif4\Desktop\Exam\Exam1\bikers_data.csv

  0%|          | 0.00/213k [00:00<?, ?B/s]
100%|██████████| 213k/213k [00:00<00:00, 577kB/s]
100%|██████████| 213k/213k [00:00<00:00, 567kB/s]

In [3]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [4]:
data_df = pd.read_csv('bikers_data.csv')

In [5]:
data_df.head()

,Date,Number of bikers,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,daylight_hrs,Rainfall (in),Temp (F),dry day
0,2012-10-03,14084.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.277359,0.0,56.0,1
1,2012-10-04,13900.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11.219142,0.0,56.5,1
2,2012-10-05,12592.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.161038,0.0,59.5,1
3,2012-10-06,8024.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11.103056,0.0,60.5,1
4,2012-10-07,8568.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.045208,0.0,60.5,1

In [6]:
data_y = data_df['Number of bikers'] # target
data_x = data_df.drop(['Number of bikers'], axis=1) # input features

column_to_exclude = "Date"
for column in data_x.columns:
    if column != column_to_exclude: 
            label_encoder = LabelEncoder()
            data_x[column] = label_encoder.fit_transform(data_x[column])

In [7]:
data_x = data_x.drop(['Date'], axis=1)

In [8]:
data_x.head()

,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,daylight_hrs,Rainfall (in),Temp (F),dry day
0,0,0,1,0,0,0,0,0,1069,0,60,1
1,0,0,0,1,0,0,0,0,1055,0,61,1
2,0,0,0,0,1,0,0,0,1039,0,67,1
3,0,0,0,0,0,1,0,0,1025,0,69,1
4,0,0,0,0,0,0,1,0,1011,0,69,1

In [9]:
data_y

0       14084.0
1       13900.0
2       12592.0
3        8024.0
4        8568.0
         ...
2641     4552.0
2642     3352.0
2643     3692.0
2644     7212.0
2645     4568.0
Name: Number of bikers, Length: 2646, dtype: float64

In [10]:
data_x

,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,daylight_hrs,Rainfall (in),Temp (F),dry day
0,0,0,1,0,0,0,0,0,1069,0,60,1
1,0,0,0,1,0,0,0,0,1055,0,61,1
2,0,0,0,0,1,0,0,0,1039,0,67,1
3,0,0,0,0,0,1,0,0,1025,0,69,1
4,0,0,0,0,0,0,1,0,1011,0,69,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2641,0,0,0,0,1,0,0,0,42,1,30,0
2642,0,0,0,0,0,1,0,0,53,0,36,1
2643,0,0,0,0,0,0,1,0,68,1,39,0
2644,1,0,0,0,0,0,0,0,82,4,39,0
2645,0,1,0,0,0,0,0,0,93,26,47,0

In [11]:

X = data_x.values
Y = data_y.values

In [12]:
train_size = int(0.8 * len(X))

x_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = Y[:train_size], Y[train_size:]

In [13]:
x_train = np.c_[np.ones(x_train.shape[0]), x_train]
X_test = np.c_[np.ones(X_test.shape[0]), X_test]

In [14]:
def Mes(y, y_hat):
    M_es =  1/len(y) * np.sum(np.square(y - y_hat))
    return M_es

def calculate_theta(X, y):
    theta = np.linalg.inv(X.T @ X) @ (X.T @ y)
    return theta

In [15]:
theta = calculate_theta(x_train, y_train)

y_train_pred = x_train @ theta

In [16]:
train_mse = Mes(y_train, y_train_pred)
print(train_mse)

1622814263.366662

In [17]:
y_test_pred = X_test @ theta

In [18]:
test_mse = Mes(y_test, y_test_pred)
print(test_mse)

1757948716.640871

In [19]:
print(f"{test_mse} \n {train_mse}")

1757948716.640871
 1622814263.366662